.flexContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mainSection {
  background-color: #f2f2f2;
  flex: 4;
}

.secondarySection {
  display: flex;
  flex: 1;
}

@media only screen and (min-width: 672px) {
  .flexContainer {
    flex-direction: row-reverse;
  }
}
