.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: white;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 6;
  padding: 24px;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms, transform 300ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.window > section {
  width: 100%;
  display: flex;
  gap: 10px;
}

.window > h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.button {
  flex: 1;
  padding: 16px 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

.modalCenter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modalCenter h1 {
  font-weight: 400;
  text-transform: uppercase;
}

.levelingContainer {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.levelingContainer > h3 {
  font-size: 2rem;
  animation: numberShrink 500ms ease-out forwards;
}

@keyframes numberShrink {
  from {
    transform: scale(1);
    color: var(--black);
  }

  to {
    transform: scale(0.75);
    color: var(--text-muted);
  }
}

.levelingContainer > h2 {
  font-size: 2rem;
  transform: scale(0.75);
  opacity: 0;
  animation: numberGrow 300ms ease-in 400ms forwards;
}

@keyframes numberGrow {
  from {
    transform: scale(0.75);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.arrow {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  transform: translateX(10%);
}

.arrowBody {
  height: 6px;
  background-color: var(--accent-light);
  flex-grow: 0;
  animation: arrowGrow 600ms ease-out 300ms forwards;
}

@keyframes arrowGrow {
  from {
    flex-grow: 0;
  }

  to {
    flex-grow: 1;
  }
}

.arrowHead {
  border-left: 12px solid var(--accent-light);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  flex-grow: 0;
}

.buttonDanger {
  background-color: #e98484;
}

.buttonSafe {
  background-color: #84e99a;
}

.buttonContinue {
  background-color: var(--accent-dark);
  color: white;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2) inset;
}
