:root {
  --text-muted: #797979;
  --dark-grey: #939393;
  --light-grey: #d6d6d6;

  --accent-light: rgb(210, 70, 170);
  --accent-dark: rgb(130, 70, 90);

  --color-1: rgb(130, 70, 90);
  --color-2: rgb(130, 150, 90);
  --color-3: rgb(210, 70, 90);
  --color-4: rgb(210, 70, 170);
  --color-5: rgb(130, 150, 170);
}

.switch-color-lightest {
  fill: var(--accent-light);
}